<template>
  <div id="app">
    <v-row>
      <v-col lg="8">
        <img alt="Vue logo" src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Gray_book.png" />
        <HelloWorld msg="BLOGS" />
      </v-col>
      <v-col lg="4">
        <v-card>
          <v-card-title> Add blog </v-card-title>
          <v-card-text>
            <v-text-field label="User ID:" hide-details="auto" v-model="form.userId" />
            <v-text-field label="Title" hide-details="auto" v-model="form.title" />
            <v-text-field label="Content" hide-details="auto" v-model="form.body" />
            <v-row v-if="form.id">
              <v-col>
                <v-btn elevation="2" class="delete-button" @click="onCancelUpdate"> CANCEL </v-btn>
              </v-col>
              <v-col>
                <v-btn elevation="2" class="edit-button" @click="onUpdateAPI"> EDIT BLOG </v-btn>
              </v-col>
            </v-row>
            <v-btn elevation="2" class="success-button" @click="onCreateAPI" v-if="!form.id"> ADD BLOG </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col lg="4" v-for="(post, index) in posts" :key="post.id" style="position: relative">
        <v-card style="height: 260px">
          <v-card-title>
            <p class="title">
              {{ post.title }}
            </p>
          </v-card-title>
          <v-card-subtitle> USER ID: {{ post.id }}-{{ post.userId }} </v-card-subtitle>
          <v-card-text>
            {{ post.body }}
          </v-card-text>
          <v-row style="position: absolute; bottom: 10px; left: 20%">
            <v-col>
              <v-btn elevation="2" class="edit-button" @click="onEditForm(post)"> EDIT post </v-btn>
            </v-col>
            <v-col>
              <v-btn elevation="2" class="delete-button" @click="onDeleteAPI(post.id, index)"> DELETE post </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import { mapGetters } from "vuex";

export default {
  name: "App",
  data() {
    return {
      blogs: [],
      form: {
        title: "",
        body: "",
        userId: 1,
      },
    };
  },
  components: {
    HelloWorld,
  },
  computed: {
    ...mapGetters({
      posts: "blogs/posts",
    })
  },
  created() {
    // blogs is the name that we set in the module store.js
    // need to set namespaced = true in the blogs.js module
    this.$store.dispatch("blogs/onGetPosts");
  },
  methods: {
    onCreateAPI() {
      this.$store.dispatch("blogs/onCreatePost", this.form);
      this.setEmptyForm();
    },
    onEditForm(data) {
      this.form = { ...data };
    },
    onUpdateAPI() {
      this.$store.dispatch("blogs/onUpdatePost", this.form);
      this.setEmptyForm();
    },
    onDeleteAPI(id, index) {
      this.$store.dispatch("blogs/onDeletePost", { id, index });
    },
    onCancelUpdate() {
      this.setEmptyForm();
    },
    setEmptyForm() {
      this.form = {
        title: "",
        body: "",
        userId: 1,
      };
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding: 20px;
}
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.success-button {
  margin-top: 20px !important;
  background-color: #4caf50 !important;
  color: white !important;
}
.edit-button {
  margin-top: 20px !important;
  background-color: #fb8c00 !important;
  color: white !important;
}
.delete-button {
  margin-top: 20px !important;
  background-color: #ff5252 !important;
  color: white !important;
}
</style>
